@import 'variables';
// gitignore de khong cap nhat file khi sua local tren git vo nhieu nguoi
h1 {
    color: $red-color;
    //font-size: 1rem;
    // background-color: red;
    //width: 100px;
}
.card-course-item {
    margin: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    margin-right: 4px;
}

.checkbox-select-all-options {
    width: 160px;
    margin: 0 16px;
}

.btn--home {
    display: inline-block;
    /* bỏ dấu gạch dưới  */
    text-decoration: none;
    background-color: transparent;
    /* bỏ khung khi không di chuột vào */
    border: none;
    outline: none;

    color: #fff;
    /* nếu không đủ thì tăng lên */
    border-radius: 20px;
    cursor: pointer;
    /* thêm hiệu ứng chuyển đổi */
    transition: opacity 0.2s ease;
    min-width: 100px;
}
.btn:hover {
    opacity: 0.8;
}
.btn--signin {
    background-color: #73bf34;
}
.btn--register {
    background-color: #333;
}
.toast {
    /* tat ca phan tu trong thang ngang */
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    border-left: 4px solid;
    padding: 20px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width: 400px;
    max-width: 450px;
    /* 3s delay truoc khi mo trong 1s, forwards dung o diem cuoi animation   */
    transition: all linear 0.3s;
    z-index: 999999999;
}
