<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
        <a class="navbar-brand" href="/">Admin Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
      
        
          <!-- co code da bi xoa o day -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Management
            {{!-- <img src="https://www.google.com/imgres?q=admin&imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D100080695441329&imgrefurl=https%3A%2F%2Fwww.facebook.com%2FAdminNhomVIP%2F&docid=nuE0uURXCizlIM&tbnid=GE1_r18GMCwJyM&vet=12ahUKEwif6tbA76WHAxVGrlYBHe3QBBYQM3oECBcQAA..i&w=640&h=640&hcb=2&ved=2ahUKEwif6tbA76WHAxVGrlYBHe3QBBYQM3oECBcQAA" alt="" class="use-avatar"> --}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/create">Create User</a>
               <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/users">Manage User</a>           
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Sign Out</a>
            </div>
          </li>
        </ul>
      </div>
  </div>
</nav>